
*{
	margin:0;
	pagging:0;
display: block;
    margin-bottom: 24px;
    font-family: 'Roboto Mono',sans-serif;
    font-size: 18px;
    line-height: 30px;
}

html,body{
	height: 100%;
}

form{
	width: 96%;
	max-width: 600px;
	margin:0 auto;
}


form fieldset{ /*agrupar elementos*/
	padding: 0 40px;
	border: 1px solid rgb(36, 87, 163);
}
form legend{ /*define um título para o bloco*/
	text-align:left;
	font-size:17px;
	color:#ccc;
}

form input[type=text]{ /*cria controles interativos para formulários baseados na web para receber dados do usuário*/
	margin-top:30px;
	width:80%;
	padding: 10px 13px;
}

form input[type=text]:focus{ /* pseudo-classe  é aplicada quando um elemento recebe foco*/
	outline:0;
}

form select{
	width:calc(80%, 26px);
	margin-top:30px;
	padding: 10px 13px;
	display: inline-block;
}

form h2{
	margin-top:20px;
}
.radio-input{
	display: inline-block;
	text-align:left;
	margin-top:20px;
}
.radio-input span{
	margin-left: 13px;
	font-size: 16px;
	color: rgb(130,130,130);
}